<div class="navigation" id="navigation">
  <a class="nav-toggler" href="#" id="navToggler">
    <span class="show-nav">&#9776;</span>
    <span class="hide-nav">&times;</span>
  </a>
  <div class="navigation__inner home_service">
    <ul id="menu">
      <li data-menuanchor="home_menu" class="active">
            <%= link_to "#home_menu" do %>
              <%= image_tag "Home.png" %> <span class="hover_title"> HOME </span>
            <% end %>
      </li>
       <li data-menuanchor="service_menu">  
           <%= link_to "#service_menu" do %>
              <%= image_tag "service.png" %> <span class="hover_title"> SERVICES </span>
            <% end %>
        </li>
  
       <li data-menuanchor="about_us_menu"> 
         <%= link_to "#about_us_menu" do %>
            <%= image_tag "flat-faces-icons-circle-6.png" %> <span class="hover_title"> ABOUT </span>
          <% end %>
      </li>
       <li data-menuanchor="contact_menu"> 
         <%= link_to "#contact_menu" do %>
            <%= image_tag "phone-icon.png" %> <span class="hover_title"> CONTACT </span>
          <% end %>
      </li>
    </ul>
  </div>
</div>

<script>
(function ($, window, document, undefined) {
  $(function () {
    var $navigation = $('#navigation'), $navToggler = $('#navToggler');
    $('#navToggler').on('click', function (e) {
      e.preventDefault();
      $navigation.toggleClass('expanded');
    });
  });
}(jQuery, this, this.document));
</script>