<nav class="for_non_mobile row navbar-wrapper navbar-inverse navbar-fixed-top" role="navigation">
<!--   <div class="for_mobile drawer drawer-left drawer-navbar-default">
  <header role="banner">
    <div class="drawer-header">
      <button type="button" class="drawer-toggle drawer-hamburger">
        <span class="sr-only">toggle navigation</span>
        <span class="drawer-hamburger-icon"></span>
      </button>
    </div>
    <div class="drawer-main drawer-default">
      <nav class="drawer-nav" role="navigation">
        <div class="drawer-brand">
          <ul class="drawer-menu">
            <li class="drawerlogo">
              <%= image_tag "logowhite.png" %>
            </li>
            <li class="drawer-menu-item">
              <%= link_to "#topArea" do %>
                <i class="home icon"></i>
                HOME
              <% end %>
            </li>
            <li class="drawer-menu-item">
              <%= link_to "#sceneHowto" do %>
                <i class="configure icon"></i>
                SERVICES 
             <% end %>
            </li>
            <li class="drawer-menu-item">
              <%= link_to "#scene1" do %>
              <i class="info icon"></i>
                ABOUT 
             <% end %>
            </li>
            <li class="drawer-menu-item">
              <%= link_to "#scene2" do %>
              <i class="mail icon"></i>
              CONTACT 
             <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </div>  -->
  <div class="navbar-header">
    <button data-toggle="collapse" class="navbar-toggle ocllapsed" type="button" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="row">
      <div class="col-md-6 logo">
        <%= image_tag "logowhite.png" %>
      </div>
      <div class="col-md-6" style="text-align: center;">
        <ul class="nav navbar-nav my_nav">
           <li class="active">
             <%= link_to "#topArea" do %>
                HOME
             <% end %>
           </li>
           <li>  
              <%= link_to "#sceneHowto" do %>
                  SERVICES 
               <% end %>
            </li>
            <li>
              <%= link_to "#portfolio" do %>
                PORTFOLIO
              <% end %>
            </li>
            <li> 
              <%= link_to "#scene1" do %>
                ABOUT 
               <% end %>
            </li>
            <li> 
              <%= link_to "#scene2" do %>
                CONTACT 
              <% end %>
           </li>
        </ul> 
      </div>
    </div>
  </div>
  <div class="navz for_mobile">
    <div class="container">
      <div class="ui button buttonmenu" id="buttonsidebar">
        <i class="sidebar icon"> </i> 
      </div>
    </div>
    <div class="ui top demo sidebar ui segment overlay mobile">
      <%= link_to "#topArea" do %>
        HOME /
      <% end %>
      <%= link_to "#sceneHowto" do %>
        
        SERVICES /
      <% end %>
      <%= link_to "#portfolio" do %>

        PORTFOLIO /
      <% end %>
      <%= link_to "#scene1" do %>
       
        ABOUT /
      <% end %>
  
      <%= link_to "#scene2" do %>
      
        CONTACT 
     <% end %>
    </div>
  </div> 
</nav>  

<!-- 
<script type="text/javascript">
  $(document).ready(function() {
    $(".drawer").drawer();
    $(".drawer").drawer({
      apiToggleClass: "element"
    });


    $('.element').on(function() {
      $('.drawer').drawer('open');
    });

   
    $('.element').on(function() {
      $('.drawer').drawer('close');
    });

    $('.element').on(function() {
      $('.drawer').drawer('toggle');
    });

 
    $('.element').on(function() {
      $('.drawer').drawer('destroy');
    });

    $('#element').on('drawer.opened');

  
    $('#element').on('drawer.closed');
  });
</script>
 -->

<script>
  $(document).ready(function(){
    $('#buttonsidebar').on('click', function(){
      $('.ui.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');
    });
  });
</script>