.ui.long.modal
  = image_tag "close-btn.png", size: "30x30", class: "close-modal", style: "cursor:pointer"
  .header
    %h2 Our clients
  .content
    .ui.grid
      .three.wide.column
        .hover
          = image_tag "adrover.png", alt: "cloudband, cloudband solutions, cb"
          .text
            %h5 AdRover
      .three.wide.column
        .hover
          = image_tag "bni.png", alt: "cloudband, cloudband solutions, cb"
          .text
            %h5 Baliwag Navigation Inc.
      .three.wide.column
        .hover
          = image_tag "transit.png", alt: "cloudband, cloudband solutions, cb"
          .text
            %h5 Baliwag Transit Inc.
      .three.wide.column
        .hover
          = image_tag "gemcamp.png", alt: "cloudband, cloudband solutions, cb"
          .text
            %h5 Gemcamp International
      .three.wide.column
        .hover
          = image_tag "jcp.png", alt: "cloudband, cloudband solutions, cb"
          .text
            %h5 JCP Group of Companies
      .three.wide.column
        .hover
          .black-hover
          = image_tag "kasa.png", alt: "cloudband, cloudband solutions, cb"
          .text
            %h5 Kasagana-ka Development Center Inc.
      .three.wide.column
        .hover
          = image_tag "KMBA.png", alt: "cloudband, cloudband solutions, cb"
          .text
            %h5 Kasagana-ka Mutual Benefit Association Inc.
      .three.wide.column
        .hover
          = image_tag "merfolk.png", alt: "cloudband, cloudband solutions, cb"
          .text
            %h5 Merfolk Shipping Inc.
      .three.wide.column
        .hover
          = image_tag "lurlogo.png", alt: "cloudband, cloudband solutions, cb"
          .text
            %h5 LUR
      .three.wide.column
        .hover
          = image_tag "sounddesign2.png", alt: "cloudband, cloudband solutions, cb"
          .text
            %h5 Sound Design Manila