<div class="for_non_mobile">
  <div class="row responsive">
    <div class="col-md-4 lefts">
      <%= image_tag "c1.png" %>
    </div>
    <div class="col-md-4 leftz">
      <%= image_tag "c3.png" %>
    </div>
    <p class="col-md-4 services">
      All products and services developed and maintained by Cloudband are network enabled and mobile friendly. This means you gain access to your information be it via the Internet or your own personal internal network. Cloudband prides itself in providing the connectivity that your company and its systems need. 
    </p>
  </div>

  <div class="row our_services">
    <div class="col-md-6">
      <h1>OUR SERVICES</h1>
      <h4>Technology for a connected world starts with the right systems</h4>
        <div class="col-md-4">
          <center><%= image_tag "mac.png" %></center><br />
          <div class="titles"> Custom Web Based Database Driven Systems Development</div>
        </div>
        <div class="col-md-4">
          <center><%= image_tag "02.png" %></center> <br />
          <div class="titles"> Android Mobile Development</div>
        </div>
        <div class="col-md-4">
          <center><%= image_tag "01.png" %></center><br />
          <div class="titles"> Web Design </div>
        </div>
    </div>
    <div class="col-md-6">
      <h1>OUR PRODUCTS</h1> 
      <h4>Ready to use software solutions for your company</h4>

        <div class="col-md-6">
          <center><%= image_tag "user.png" %></center><br />
          <div class="titles"> Personnel System</div>
        </div>
        <div class="col-md-6">
          <center><%= image_tag "payroll.png" %></center> <br />
          <div class="titles">Payroll System</div>
        </div>
    </div>
  </div>

  <div class="row consult">
    <div class="col-md-4" style="text-align: right;">
      CONSULT US:
    </div>
     <div class="col-md-4">
      638-4882 / 09173465949
    </div>
     <div class="col-md-4 wk">
      <span class="icon-phone"></span>DAYS&WEEK <br />
      FROM 8:00AM to 10:00PM
    </div>
  </div>

</div>


<div class="for_mobile">
  <div class="row responsive">
    <div class="col-md-4 lefts">
      <%= image_tag "c1.png" %>
    </div>
    <div class="col-md-4 leftz">
      <%= image_tag "c3.png" %>
    </div>
    <p class="col-md-4 services">
      All products and services developed and maintained by Cloudband are network enabled and mobile friendly. This means you gain access to your information be it via the Internet or your own personal internal network. Cloudband prides itself in providing the connectivity that your company and its systems need. 
    </p>
  </div>

  <div class="row our_services_mobile">
    <div class="col-md-6">
      <h1>OUR SERVICES</h1>
      <h4>Technology for a connected world starts with the right systems</h4>
        <div class="col-md-4">
          <center><%= image_tag "mac.png" %></center><br />
          <div class="titles"> Custom Web Based Database Driven Systems Development</div>
        </div>
        <div class="col-md-4">
          <center><%= image_tag "02.png" %></center> <br />
          <div class="titles"> Android Mobile Development</div>
        </div>
        <div class="col-md-4">
          <center><%= image_tag "01.png" %></center><br />
          <div class="titles"> Web Design </div>
        </div>
    </div>
    <div class="col-md-6">
      <h1>OUR PRODUCTS</h1> 
      <h4>Ready to use software solutions for your company</h4>

        <div class="col-md-6">
          <center><%= image_tag "user.png" %></center><br />
          <div class="titles"> Personnel System</div>
        </div>
        <div class="col-md-6">
          <center><%= image_tag "payroll.png" %></center> <br />
          <div class="titles">Payroll System</div>
        </div>
    </div>
  </div>


  <div class="row consult">
    <div class="col-md-4" style="text-align: right;">
      CONSULT US:
    </div>
     <div class="col-md-4">
      638-4882 / 09173465949
    </div>
     <div class="col-md-4 wk">
      <span class="icon-phone"></span>DAYS&WEEK <br />
      FROM 8:00AM to 10:00PM
    </div>
  </div>
</div>



