#topArea
  .homepage
    .white
      %center
        %h4 Technology for a connected world
        #auther
          Continuous. High Quality. Networked. Responsive.
#sceneHowto
  .row
    .col-md-1
    .col-md-4
      .row
        %h2 Our Services
        %h3 Technology for a connected world starts with the right systems
        .col-xs-4.imgvw.imgvwl
          %center= image_tag "01.png", alt: "cloudband, cloudband solutions, cb"
          %br
          %h4.titles Custom Systems
        .col-xs-4.imgvw.imgvwl
          %center= image_tag "02.png", alt: "cloudband, cloudband solutions, cb"
          %br
          %h4.titles Android Mobile Development
        .col-xs-4.imgvwl.imgvw
          %center= image_tag "responsive-web.png", alt: "cloudband, cloudband solutions, cb"
          %br
          %h4.titles Responsive Web Design
    .col-md-2
    .col-md-4
      .row
        %h2 Our Products
        %h3 Ready to use software solutions for your company
        .col-xs-4.imgvwl.imgvw
          %center= image_tag "loan.png", alt: "cloudband, cloudband solutions, cb"
          %br
          %h4.titles Microloans Management System
        .col-xs-4.imgvw.imgvwl
          %center= image_tag "user.png", alt: "cloudband, cloudband solutions, cb"
          %br
          %h4.titles Personnel System
        .col-xs-4.imgvw.imgvwl
          %center= image_tag "payroll.png", alt: "cloudband, cloudband solutions, cb"
          %br
          %h4.titles Payroll System
      .row
        .col-xs-4.imgvwl.imgvw
          %center= image_tag "doctor-icon.png", alt: "cloudband, cloudband solutions, cb"
          %br/
          %h4.titles Clinic Information System
        .col-xs-4.imgvwl.imgvw
          %center= image_tag "monitoring.png", alt: "cloudband, cloudband solutions, cb"
          %br/
          %h4.titles Monitoring System
        .col-xs-4.imgvwl.imgvw
          %center= image_tag "Life Insurance.png", alt: "cloudband, cloudband solutions, cb"
          %br/
          %h4.titles Insurance System
      %br/
      .row
        .col-xs-12
          = button_tag :portfolio, id: "portfolio-btn", class: "btn btn-info", style: "width: 100%" do
            See our clients
    .col-md-1
  .container
    %p.services_p
      All products and services developed and maintained by Cloudband are network enabled and mobile friendly. This means you gain access to your information be it via the Internet or your own personal internal network. Cloudband prides itself in providing the connectivity that your company and its systems need.
#scene1
  .about
    .container
      .row
        .col-md-4
          .textbox.black
            %h3 About Us
            %p
              Cloudband Solutions Co. is a Filipino based technology company that creates information systems through the use of open source technology. The company started in August, 2014 with three core members. Currently, it develops and maintains IT projects in the fields of finance, shipping and office administration.
        .col-md-4
          .textbox.black
            %h3 Mission
            %p
              Cloudband Solutions Co. aims to provide custom networked systems engineered with the latest open source technology that helps businesses and organizations achieve their goals and ensures solutions that withstands the test of time through continuous improvement and high availability.
        .col-md-4
          .textbox.black
            %h3 Vision
            %p
              Cloudband Solutions Co. envisions itself to be the best Filipino owned, pure open source solutions provider for both local and international organizations and to be known as an advocacy of the kaizen principle.
.ourteam
  %h2 Our Team
  .row
    .col-md-3.text-center{:style => "margin-top: 40px;"}
      = image_tag 'ajon.jpg', :class => 'center-block img-circle img-responsive visible-lg visible-md visible-sm visible-xs contact-pic', alt: "cloudband, cloudband solutions, cb"
      %h4.contact Aljon L. Laureano
      %small Developer
      %hr.hr-contact
      %i
        \&nbsp;#{mail_to 'laureanoaljon0392@gmail.com', 'laureanoaljon0392@gmail.com'}
        %br
    .col-md-3.text-center{:style => "margin-top: 40px;"}
      = image_tag 'kath.jpg', :class => 'center-block img-circle img-responsive visible-lg visible-md visible-sm visible-xs contact-pic', alt: "cloudband, cloudband solutions, cb"
      %h4.contact Kathleen Zita Gayle Logmao
      %small Managing Partner / Developer
      %hr.hr-contact
      %i
        
        \&nbsp;#{mail_to 'kathleenlogmao@gmail.com', "kathleenlogmao@gmail.com"}
        %br
    .col-md-3.text-center{:style => "margin-top: 40px;"}
      = image_tag 'raphael.jpg', :class => 'center-block img-circle img-responsive visible-lg visible-md visible-sm visible-xs contact-pic', alt: "cloudband, cloudband solutions, cb"
      %h4.contact Raphael B. Alampay
      %small Managing Partner / Developer
      %hr.hr-contact
      %i
        
        \&nbsp;#{mail_to 'raphael.alampay@gmail.com', 'raphael.alampay@gmail.com'}
        %br
    .col-md-3.text-center{:style => "margin-top: 40px;"}
      = image_tag 'lani.jpg', :class => 'center-block img-circle img-responsive visible-lg visible-md visible-sm visible-xs contact-pic', alt: "cloudband, cloudband solutions, cb"
      %h4.contact Lani Marie Gonzalez
      %small Office Manager
      %hr.hr-contact
      %i
        
        \&nbsp;#{mail_to 'lanimarie.gonzalez@gmail.com', 'lanimarie.gonzalez@gmail.com'}
        %br
#scene2
  .black
    %center
      .load_page
        = image_tag "loading.gif"
    .row
      .container
        .col-md-6
          .row.details
            .ui.header PHONE NUMBER
            %span{:style => "color: #888;"}
              %i.phone.icon
              364-4882
            .ui.header EMAIL
            %span{:style => "color: #888;"}
              %i.mail.icon
              #{mail_to 'kathleenlogmao@gmail.com', 'kathleenlogmao@gmail.com'}
              %br/
              %i.mail.icon
              #{mail_to 'raphael.alampay@gmail.com', 'raphael.alampay@gmail.com'}
            .ui.header ADDRESS
            %span{:style => "color: #888;"}
              %i.marker.icon
              Prince David, Katipunan, Loyola Heights, Quezon City
        .col-md-6
          .ui.header{:style => "margin-top: 47px;"} SEND US A MESSAGE
          .ui.form
            .field
              %input#name{:placeholder => "Name", :type => "text"}
            .field
              %input#email{:placeholder => "Email", :type => "text"}
            .field
              %textarea#message{:placeholder => "Message"}
            %button#submit-form.btn.btn-default.sub.button-submit.pull-right{:type => "submit"} Submit
