<div id="topArea">
  <div class="homepage">
    <div class="white">
      <center>
        <h4>Technology for a connected world </h4> 
        <div id="auther">
          Engineered Software that is.. <br /> <br />
          Continuous. High Quality. Networked. Responsive
        </div>
        <div id="down" class="al">
          <a href="#sceneHowto">
            <%= image_tag "down.png", height: "27", width: "221" %>
          </a>
        </div>
      </center>
    </div>
  </div>
</div>

<div id="sceneHowto">
  <div class="container">
    <p class="services_p">
      All products and services developed and maintained by Cloudband are network enabled and mobile friendly. This means you gain access to your information be it via the Internet or your own personal internal network. Cloudband prides itself in providing the connectivity that your company and its systems need.
    </p>
    <hr>
  </div>
  <div class="row">
    <h2>Our Services</h2>
    <h3>Technology for a connected world starts with the right systems</h3>
    <div class="col-md-3"></div>
    <div class="col-md-2 imgvw">
      <center><%= image_tag "01.png" %></center><br />
      <h4 class="titles"> Custom Web Based Database Driven Systems Development</h4>
    </div>

    <div class="col-md-2 imgvw">
      <center><%= image_tag "02.png" %></center> <br />
      <h4 class="titles"> Android Mobile Development</h4>
    </div>
    
    <div class="col-md-2 imgvwl imgvw">
      <center><%= image_tag "responsive-web.png" %></center><br />
      <h4 class="titles">Responsive Web Design </h4>
    </div>
    <div class="col-md-3"></div>
    
  </div>

  <div class="row">
    <h2>Our Products</h2> 
    <h3>Ready to use software solutions for your company</h3>
      <div class="col-md-2"></div>
      <div class="col-md-2 imgvwl imgvw">
        <center><%= image_tag "loan.png" %></center><br />
        <h4 class="titles">Micro Loans Management System</h4>
      </div>
      <div class="col-md-2 imgvw">
        <center><%= image_tag "user.png" %></center><br />
        <h4 class="titles"> Personnel System</h4>
      </div>
      <div class="col-md-2 imgvw">
        <center><%= image_tag "payroll.png" %></center> <br />
        <h4 class="titles">Payroll System</h4>
      </div>
      <div class="col-md-2 imgvwl imgvw">
        <center><%= image_tag "monitoring.png" %></center> <br />
        <h4 class="titles">Monitoring System</h4>
      </div>
      <div class="col-md-2"></div>
  </div>
</div>

<div id="scene1">
  <div class="about">
    <div class="black">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h3>About Us</h3>
            <p class="textbox">
             Cloudband Solutions Co. is a Filipino based technology company that creates information systems through the use of open source technology. The company started in August, 2014 with three core members. Currently, it develops and maintains IT projects in the fields of finance, shipping and office administration.
            </p>
          </div>
          <div class="col-md-5"></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-5">
          </div>
          <div class="col-md-7">
            <h3>Mission</h3>
            <p class="textbox">
              Cloudband Solutions Co. aims to provide custom networked systems engineered with the latest open source technology that helps businesses and organizations achieve their goals and ensures solutions that withstands the test of time through continuous improvement and high availability.
            </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-7">
            <h3>Vision</h3>
            <p class="textbox">
              Cloudband Solutions Co. envisions itself to be the best Filipino owned, pure open source solutions provider for both local and international organizations and to be known as an advocacy of the kaizen principle.
            </p>
          </div>
          <div class="col-md-5"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ourteam">
  <h2>Our Team</h2>
  <div class="row">
    <center>
      <div class="col-md-4">
        <div class="ui card">
          <div class="ui move right reveal image">
            <div class="visible content">
              <%= image_tag "katy.JPG"%>
            </div>

            <div class="hidden content">
               <%= image_tag "kat.JPG"%>
            </div>
          </div>
          <div class="content">
            <div class="header">Kathleen Zita Gayle G. Logmao</div>
            <div class="meta" style="font-style: 10px!important;">
              <span class="date">Managing Partner / Developer / Designer</span>
              <br />
              <br />
            </div>
          </div>
          <div class="extra content">
            Email: kathleenlogmao@gmail.com <br />
            Tel: 364-48-82
            
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ui card">
          <div class="ui move right reveal image">
            <div class="visible content">
              <%= image_tag "jr.JPG"%>
            </div>
            <div class="hidden content">
               <%= image_tag "happy.JPG"%>
            </div>
          </div>
          <div class="content">
            <div class="header">Raphael B. Alampay</div>
            <div class="meta">
              <span class="date">Managing Partner / Senior Developer</span>
              <br />
              <br />
            </div>
          </div>
          <div class="extra content">
            Email: raphael.alampay@gmail.com <br />
            Tel: 364-48-82
            
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ui card">
          <div class="ui move right reveal image">
            <div class="visible content">
              <%= image_tag "bee.JPG"%>
            </div>

            <div class="hidden content">
              <%= image_tag "lani.JPG"%>
            </div>
          </div>
          <div class="content">
            <div class="header">Lani Marie M. Gonzalez</div>
            <div class="meta">
              <span class="date">Office Manager</span>
              <br />
              <br />
            </div>
          </div>
          <div class="extra content">
            Email: lanimarie.gonzalez@gmail.com <br />
            Tel: 364-48-82
            
          </div>
        </div>
      </div>
    </center>
  </div>
</div>

<div id="scene2">
  <center>
    <div class="load_page">
      <%= image_tag "loading.gif" %>
    </div>
  </center>
  <div class="black">
    <div class="container">
      <h3>CONTACT US</h3>
      <span class="line"></span>
      <center>
        <div class="row details">
          <div class="ui header">PHONE NUMBER</div> 
          <span style="color: #888;">
            <i class="phone icon"></i> 364-4882 
          </span>
          <div class="ui header">EMAIL</div> 
          <span style="color: #888;">
            <i class="mail icon"></i> kathleenlogmao@gmail.com <br />
            <i class="mail icon"></i> raphael.alampay@gmail.com 
          </span>
          <div class="ui header">ADDRESS</div> 
          <span style="color: #888;">
            <i class="marker icon"></i> Prince David, Katipunan, Loyola Heights, Quezon City
          </span>
        </div>
        <h3>SEND US A MESSAGE</h3>
        <span class="line"></span>
        <div class="ui form">
          <div class="field">
            <input type="text" placeholder="Name" id="name">
          </div>
          <div class="field">
            <input type="text" placeholder="Email" id="email">
          </div>
          <div class="field">
            <textarea id="message" placeholder="Message"></textarea>
          </div>
          <button type="submit" class="btn btn-default sub button-submit pull-right" id="submit-form">Submit</button>
        </div>
      </center>
    </div>
  </div>
</div>


