<div id="topArea">
  <div class="homepage">
    <div class="white">
      <center>
        <h4>Technology for a connected world </h4> 
        <div id="auther">
          Continuous. High Quality. Networked. Responsive.
        </div>
       <!--  <div id="down" class="al">
          <a href="#sceneHowto">
            <%= image_tag "down.png", height: "27", width: "221" %>
          </a>
        </div> -->
      </center>
    </div>
  </div>
</div>

<div id="sceneHowto">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <div class="row">
        <h2>Our Services</h2>
        <h3>Technology for a connected world starts with the right systems</h3>
        <div class="col-xs-4 imgvw imgvwl">
          <center><%= image_tag "01.png" %></center><br />
          <h4 class="titles"> Custom Web Based Database Driven Systems Development</h4>
        </div>

        <div class="col-xs-4 imgvw imgvwl">
          <center><%= image_tag "02.png" %></center> <br />
          <h4 class="titles"> Android Mobile Development</h4>
        </div>
        
        <div class="col-xs-4 imgvwl imgvw">
          <center><%= image_tag "responsive-web.png" %></center><br />
          <h4 class="titles">Responsive Web Design </h4>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="row">
        <h2>Our Products</h2> 
        <h3>Ready to use software solutions for your company</h3>
        <div class="col-xs-4 imgvwl imgvw">
          <center><%= image_tag "loan.png" %></center><br />
          <h4 class="titles">Micro Loans Management System</h4>
        </div>
        <div class="col-xs-4 imgvw imgvwl">
          <center><%= image_tag "user.png" %></center><br />
          <h4 class="titles"> Personnel System</h4>
        </div>
        <div class="col-xs-4 imgvw imgvwl">
          <center><%= image_tag "payroll.png" %></center> <br />
          <h4 class="titles">Payroll System</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 imgvwl imgvw">
          <center><%= image_tag "doctor-icon.png" %></center> <br />
          <h4 class="titles">Clinic Information System</h4>
        </div>
        <div class="col-xs-4 imgvwl imgvw">
          <center><%= image_tag "monitoring.png" %></center> <br />
          <h4 class="titles">Monitoring System</h4>
        </div>
        <div class="col-xs-4 imgvwl imgvw">
          <center><%= image_tag "Life Insurance.png" %></center> <br />
          <h4 class="titles">Insurance System</h4>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="container">
    <p class="services_p">
      All products and services developed and maintained by Cloudband are network enabled and mobile friendly. This means you gain access to your information be it via the Internet or your own personal internal network. Cloudband prides itself in providing the connectivity that your company and its systems need.
    </p>
  </div>
</div>

<div id="scene1">
  <div class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="textbox black">
            <h3>About Us</h3>
            <p>
              Cloudband Solutions Co. is a Filipino based technology company that creates information systems through the use of open source technology. The company started in August, 2014 with three core members. Currently, it develops and maintains IT projects in the fields of finance, shipping and office administration.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="textbox black">
            <h3>Mission</h3>
            <p>
              Cloudband Solutions Co. aims to provide custom networked systems engineered with the latest open source technology that helps businesses and organizations achieve their goals and ensures solutions that withstands the test of time through continuous improvement and high availability.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="textbox black">
            <h3>Vision</h3>
            <p>
              Cloudband Solutions Co. envisions itself to be the best Filipino owned, pure open source solutions provider for both local and international organizations and to be known as an advocacy of the kaizen principle.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ourteam">
  <div class="container">
    <h2>Our Team</h2>
    <div class="row" style="margin-top: 30px;">
      <center>
        <div class="col-md-3">
          <div class="ui card">
            <div class="ui move right reveal image">
              <div class="visible content">
                <%= image_tag "katy.JPG", alt: "cloudband solutions"%>
              </div>

              <div class="hidden content">
                 <%= image_tag "katv2.JPG", alt: "cloudband solutions"%>
              </div>
            </div>
            <div class="content">
              <div class="header">Kat G. Logmao</div>
              <div class="meta" style="font-style: 10px!important;">
                <span class="date">Managing Partner / Developer </span>
                <br />
                <br />
              </div>
            </div>
            <div class="extra content">
              kathleenlogmao@gmail.com <br />
              
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ui card">
            <div class="ui move right reveal image">
              <div class="visible content">
                <%= image_tag "jr.JPG", alt: "cloudband solutions%>
              </div>
              <div class="hidden content">
                 <%= image_tag "happyv2.JPG", alt: "cloudband solutions%>
              </div>
            </div>
            <div class="content">
              <div class="header">Raphael B. Alampay</div>
              <div class="meta">
                <span class="date">Managing Partner / Developer</span>
                <br />
                <br />
              </div>
            </div>
            <div class="extra content">
              raphael.alampay@gmail.com <br />
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ui card">
            <div class="ui move right reveal image">
              <div class="visible content">
                <%= image_tag "bee.JPG", alt: "cloudband solutions%>
              </div>

              <div class="hidden content">
                <%= image_tag "laniv2.JPG", alt: "cloudband solutions%>
              </div>
            </div>
            <div class="content">
              <div class="header">Lani Marie M. Gonzalez</div>
              <div class="meta">
                <span class="date">Office Manager</span>
                <br />
                <br />
              </div>
            </div>
            <div class="extra content">
              lanimarie.gonzalez@gmail.com <br />
              
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ui card">
            <div class="ui move right reveal image">
              <div class="visible content">
                <%= image_tag "jr.JPG", alt: "cloudband solutions%>
              </div>

              <div class="hidden content">
                 <%= image_tag "ajon.jpg", alt: "cloudband solutions%>
              </div>
            </div>
            <div class="content">
              <div class="header">Aljon L. Laureano</div>
              <div class="meta" style="font-style: 10px!important;">
                <span class="date"> Developer </span>
                <br />
                <br />
              </div>
            </div>
            <div class="extra content">
              laureanoaljon0392@gmail.com
              
            </div>
          </div>
        </div>
      </center>
    </div>
  </div>
</div>

<div id="scene2">
  <div class="black">
    <center>
      <div class="load_page">
        <%= image_tag "loading.gif" %>
      </div>
    </center>
    <div class="row">
      <div class="container">
        <div class="col-md-6">
          <div class="row details">
            <div class="ui header">PHONE NUMBER</div> 
            <span style="color: #888;">
              <i class="phone icon"></i> 364-4882 
            </span>
            <div class="ui header">EMAIL</div> 
            <span style="color: #888;">
              <i class="mail icon"></i> kathleenlogmao@gmail.com <br />
              <i class="mail icon"></i> raphael.alampay@gmail.com 
            </span>
            <div class="ui header">ADDRESS</div> 
            <span style="color: #888;">
              <i class="marker icon"></i> Prince David, Katipunan, Loyola Heights, Quezon City
            </span>
          </div>
        </div>
        <div class="col-md-6">   
          <div class="ui header" style="margin-top: 47px;">SEND US A MESSAGE</div> 
          <div class="ui form">
            <div class="field">
              <input type="text" placeholder="Name" id="name">
            </div>
            <div class="field">
              <input type="text" placeholder="Email" id="email">
            </div>
            <div class="field">
              <textarea id="message" placeholder="Message"></textarea>
            </div>
            <button type="submit" class="btn btn-default sub button-submit pull-right" id="submit-form">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



