<!DOCTYPE html>
<html>
<head>
  <title>Cloudband Solutions, Co.</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Cloudband Solutions Co. Technology for a connected world" />
  <meta name="keywords" content="Cloudband Solutions Co., Cloudband, Cloudband Solutions" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= favicon_link_tag 'logocube.png' %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71830537-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
  <body>
    <%= render partial: "shared/navigation" %>
      <%= yield %>
  </body>
</html>
