<!DOCTYPE html>
<html>
<head>
  <title>CloudbandWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Cloudband Solutions Co. Technology for a connected world" />
  <meta name="keywords" content="Cloudband Solutions Co., Cloudband, Cloudband Solutions" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

</head>
  <body>

    <%= render partial: "shared/navigation" %>
      
        <%= yield %>
      
    <%= render partial: "shared/footer" %>
  </body>
</html>
